                                       /* Generell CSS for alle sidene */

body {
  background-color: #efefef;
  font-family: sans-serif;
  box-sizing: border-box;
}

                                        /* CSS til Header */

 /* The header was creating with great inspiration from Pure Code and their video: https://www.youtube.com/watch?v=XM7sEpl0f7c&t=496s */

.header {
 position: relative;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 20px;
 padding: 10px;
 transition: 0.3s;
}
                                        
.logo a {
  display: block;
}
         
/*Logo image was created on a free version of Canva by a group member*/

.logo a img {
  display: block;
  width: 50%;
  max-width: 400px;
}
                                        
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
}
                                        
.navbar li {
  list-style-type: none;
}
                                        
.navbar li a {
  text-decoration: none;
  color: #414b3b;
  display: block;
  padding: 40px 25px;
  font-size: 24px;
  line-height: 1;
  transition: 0.3s;
}

.navbar li a:hover,
a.active {
  box-shadow: 0 -5px 0px #414b3b inset;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  background: #414b3b;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 5px;
  right: 0;
  border-radius: 10px;
  transition: 0.3s;
  background: #414b3b;
}

.hamburger::before {
  top: -10px;
  width: 20px;
}

.hamburger::after {
  top: 10px;
  width: 25px;
}

.toggle-meny {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-meny {
  display: none;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.navigation input:checked ~ .navbar {
  right: 0;
}
  
                                           /* CSS Header -- Media */
@media only screen and (max-width: 995px) {
.body {
  margin: 25px;
}
                                          
.hamburger,
.toggle-meny {
  display: block;
}
                                          
.header {
  height: 30px;
}
                                          
.navbar {
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100;
  width: 200px;
  height: 100%;
  padding-top: 65px;
  background-color: #efefef;
}

.navbar li {
  width: 100%;
}

.navbar li a {
  padding: 30px;
}
}

                                          /* CONTENT INDEX*/

.index-heading {
  color: #414b3b;
  text-align: center;
}

.welcome {
  text-align: center;
  color: #414b3b;
  opacity: none;
  font-size: 25px;
  font-weight: 300;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 30%;
  padding-left: 5%;
  padding-right: 15%;
  position: absolute;
  overflow: hidden;
}

.content {
  display: grid;
  margin: 5% 10%;
}

.content-image img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .content-image img {
    width: 100%;
  }

  .welcome {
    font-size: medium;
    overflow: hidden;
  }
}

                                                /* CSS FOR BOOKINGSIDEN - herifra og ned*/

.tittelBooking{
font-size: 30px;
font-weight: bold;
text-align: center;
color: #414b3b;

}
  
.salesBooking {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
  font-size: larger;
  color: #414b3b;
  
}

.banner {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.300));
  
    /* Bildet i linjen under er tatt av Nick Karvounis , hentet fra open source-nettsiden Unsplash: https://unsplash.com/photos/Ciqxn7FE4vE */
  
  background-image: url(https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  
}
.titleBooking{
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color:#efefef;
  border: 5px solid #efefef;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.bilderamme{
  display: grid;
  grid-template-columns: 500px, 500px;
  background: #414b3b;
}


.bilderamme-innhold {
  background: #efefef;
  padding: 30px;  
}

.bilderamme-innhold h3 {
  display: block;
  background: #efefef;
  text-size-adjust: 20;
  text-align: center;
  color: #414b3b;
  padding-bottom: 10px;
}

.form-row {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

form select, form input {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 4px;
  font-size: 20px;
  font-family: sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #414b3b;
  font-weight: 300;
}

form input [type = text], form input [type = number], form input::placeholder, select {
  color: #000;
}

form input [type = submit] {
  color: #efefef;
  background: #414b3b;
}

                                                    /* Sosiale medier */
#link1 { 
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #ea4c89;
  color: white;
}

.fa-tripadvisor {
background: #34e0a1;
color: white
}

.responsivemap {
  max-width: 100%;
  height: auto;
}

                                                /* Footer kolloner */
.grid-container {
  margin: 0 auto;
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: #414b3b;
  color: #414b3b;
  padding: 0rem;
  height: 4rem;
}
.grid-container > div {
  background-color: #414b3b;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
                                                  

.grid-container h4 {
  color: white;
}

.grid-container p {
  color: #414b3b;
}

.grid-container a:hover {
  border-bottom: 1px solid #414b3b;
}

/* CSS FOR MENYEN - herifra og ned*/
.meny-body {
  margin: 0px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: content-box ;
}

.main {
  margin: 100px auto;
  text-align: center;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.section-title h2:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #414b3b ;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-column{
  width: 29%;
}

.menu-column h4 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.single-menu {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.single-menu img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-right: 20px;
}

.single-menu .menu-content h5 {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #414b3b ;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.single-menu .menu-content h5:hover {
  font-weight: 900;
}

.single-menu .menu-content h5 span {
  text-align: right;
  font-size: 17px;
  color: #414b3b;
  font-weight: 600;
  font-style: italic;
}

.allergens{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

                                               /*CSS for Accessibility*/
.tittelAccessibility{
font-size: 30px;
font-weight: bold;
text-align: center;
color: #414b3b;

}
  
.contentAccessibility {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
  padding-right: 5%;
  font-size: larger;
  color: #414b3b;
  
}

@media only screen and (min-width: 768px) and (max-width : 991px) {
  font-size: 15px;
  font-display: bold;
  }
  .tittelBooking{
    font-size:large;
    margin: 10%;
}
  .salesBooking{
    font-size: larger;
    margin: 10%;
  }

}

/* CSS for TOPICAL PAGE -------------------- */

.big-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
/* Bildet under er tatt av Raul Gonzalez Escobar, og hentet ut fra open source nettstedet Unsplash: https://unsplash.com/photos/ZpIskW1Tuvc */
.image1 {
  background-image: url("https://images.unsplash.com/photo-1607349913338-fca6f7fc42d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
}
/* Bildet under er tatt av Rob Maxwell, og hentet ut fra open source nettstedet Unsplash: https://unsplash.com/photos/6Xb0-zJM_lU */
.image2 {
  background-image: url("https://images.unsplash.com/photo-1557333610-90ee4a951ecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
/* Bikdet under er tatt av Franki Chamaki, og hentet ut fra open source nettstedet Unsplash: https://unsplash.com/photos/ivfp_yxZuYQ */
.image3 {
  background-image: url("https://images.unsplash.com/photo-1604719312566-8912e9227c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}
/* Bildet under er tatt av gemma (_gemmajade), og hentet ut fra open source nettstedet Unsplash: https://unsplash.com/photos/stpjHJGqZyw */
.image4 {
  background-image: url("https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}
.sticky-text {
  position: sticky;
  margin-left: 50px;
  margin-right: 50px;
  top: 50%;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: white;
  border: 5px solid #000;
  font-size: 30px;
}
.sticky-text > a {
  color: aquamarine;
  
}



  .flex-container1 {
    display: flex;
    background-color: #efefef;
    flex-direction: row;
  }
  
  .flex-container1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 32px;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .flex-container2 {
    display: flex;
    background-color: #efefef;
    flex-direction: row;
  }
  .flex-container2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    line-height: 32px;
  }
  @media (max-width: 800px) {
    .flex-container1 {
      flex-direction: column;
    }
    .flex-container2 {
      flex-direction: column;
    }
  }
           
  



  /* RESPONSIVE MENY */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
  .main {
    width : 970px;
  }
  .sticky-text {
    font-size: 20px;
    }
   .bilderamme-innhold {
    padding: 10px;
    font-size: smaller;  
  }
  form select, form input {
   font-size: 15px;
  font-display: bold;
  }
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}


@media only screen and (min-width: 768px) and (max-width : 991px) {
  .main {
    width : 750px;
  }
  .single-menu{
    flex-direction: column;
  }
  .single-menu img{
    margin-bottom: 25px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr); 
    text-align: center;
}
  .sticky-text {
    font-size: 15px;
   }
   .bilderamme-innhold {
    padding: 10px;
    font-size: smaller;  
  }
  form select, form input {
   font-size: 15px;
  font-display: bold;
  }
  .tittelBooking{
    font-size:large;
    margin: 5%;
}
  .salesBooking{
    font-size: larger;
    margin: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    width : 320px;
  }
  .menu-column{
    width: 100%;
    margin-bottom: 60px;
  }
  .single-menu{
    flex-direction: column;
  }
  .single-menu img {
    margin-bottom: 25px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr); 
    text-align: center;
}
  .sticky-text {
    font-size: 15px;
    }
  .bilderamme-innhold {
    padding: 10px;
    font-size: smaller;  
  }
  form select, form input {
   font-size: 10px;
  font-display: bold;
  }
  .tittelBooking{
    font-size:large;
    margin: 10%;
}
  .salesBooking{
    font-size: larger;
    margin: 10%;
  }
}
